    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        display: inline-block;
        left: 35%;
        font-size: 2em;
        color: black;
        border-radius: 20px;
    }
    
    select {
        color: black;
        font-size: 1.5em;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    #orientation {
        display:inline-block; 
        color:black; 
        text-align:left; 
        background-color:white; 
        padding:10px; 
        border-radius:70px;
    }
    
    footer {
        color: white;
        font-size: 0.6em;
        clear: left;
    }
    